<!DOCTYPE html>
<html lang="en">
<head>

    <title>Iris</title>
    <link rel = "stylesheet" href="/static/css/index_style.css"
</head>
<body background="/static/images/purple-background-with-branch-cherry-blossoms-word-cherry-it_899894-20889.avif">
<div class="input form">
    <form action="/prediction" method="post" id="input head">
        <h1 id="heading"><i><u>Flower Species Prediction</u></i></h1>
        <h2 id="head">Enter the features of flower</h2>

        <label id="clr">SL   : </label>
        <input type="text" name="sl" placeholder="Enter the SL"><br><br>
        <label id="clr">SW  : </label>
        <input type="text" name="sw" placeholder="Enter the SW"><br><br>
        <label id="clr">PL   : </label>
        <input type="text" name="pl" placeholder="Enter the PL"><br><br>
        <label id="clr">PW  : </label>
        <input type="text" name="pw" placeholder="Enter the PW"><br><br>

        <button id="submit" type="submit">Submit</button>
    </form>
</div>
    
    
</body>
</html>